.input{
    width: 100%;
    display: flex;
    padding: 5% 3%;
    /* border: 4px solid rgb(180, 180, 181); */
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}

.container{
    max-width: 50vw;
    padding: 5% 25%;
    /* background-color: aquamarine; */
}

/* .functional-c{
    padding: 70%;
} */

input{
    width: 80%;
}

.add{
    width: 40%;
}

p{
    width: 100%;
    background-color: aqua;
    font-weight: 600;
}